html{
    scroll-behavior: smooth;
}
body{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
   
}
img{
    width: 80px;
    height: 80px;
    border-radius: 80%;
}
.icon{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.ability-img{
    text-align: end;
}
.ability-img2{
    text-align: start;
    position: relative;
    right: 100px;
    margin-top: 50px;
}


.container-fluid{
    padding: 3% 15%;
}

span{
    color: cornflowerblue;
    display: block;
}

fontfamilies{
    font-family: 'Merriweather Sans', sans-serif;
font-family: 'Sacramento', cursive;
}


/* *********************nav************************************** */

.nav-item{
    padding: 0 18px;
}

/* **********************sectiontitle*********************************** */

.top{
    background-image: url('IMG_0965.JPG');
    height: 80vh;
    color: #563d58;
}

#title{
    margin: 80px 0 0 0;  
}

.title-text{
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    font-weight: light;
    color: #563d58;
    
}

/* ******************************sectionmtitle end**************************** */

/* **********************************about************************************** */

.about-feature{
    width: 60%;
}

.abouthead-span{
    display: block;
    margin-top: 15px;
}
/* ******************************aboutend****************************************** */


/* *****************************************abilityfeature************************************** */


.ability-feature{
    padding: 8%;
}
.abilityfeature-features{
    margin-top: 50px;
}
.ability-feature-content{
    text-align: start;
}
.ability-second-feature-content{
    margin-top: 50px;
}
.ability-feature-text{
    width: 70%;
}
.ability-feature-span{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}
/* ***********************footer****************************** */
.footer{
    background: rgb(131, 165, 230);
    height: 10vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.footer-link{
    text-decoration: none;
}
/* ***************************************end offooteer******************************** */
/* ************************mediaquery*************************************** */
@media (max-width:700px) {
    body{
        font-size: 12px;
    }
    .icon{
        font-size: 35px;
    }
    /* ******************nav*********************** */
    .burger{
        font-size: 13px;
        
    }
    .title-text{
        font-size: 50px;
    }
    
    img{
        width: 50px;
        height: 50px;
    }
    .about-feature{
        width: 100%;

    }
    /* ***********************ability************************ */
    .ability-feature-text{
        text-align: center;
        width: 100%;
        padding: 0 7%;
    }
    .ability-img , .ability-img2 {
        position: static;
        text-align: center;

    }
    .ability-feature-span{
        font-size: large;
    }
    .ability-feature-span{
        margin-bottom: 20px;
    }

}


